* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Upright', serif;

    font-family: 'Manrope', sans-serif;
}

.header {

    font-size: 30px;
    padding: 20px;

}

li {
    display: inline;
    margin: 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner{
    margin-left:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    padding: 5px;
    font-size: 15px;
    background-color: rgb(84, 0, 230);
   border: none;
    color: white;
    padding: 10px 50px;
    font-weight: 600;
     display: inline-block;
}
.text{
    margin-bottom: 20px;
    font-size: 30px;
}
.image{
    height: 100%;
    width: 100%;
}

.our-services{
    margin-top: 150px;
}

.container{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 50px;
    gap: 50px;
}
.cont{
    margin-top: 20px;
 text-align: center;
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    border:1px solid rgb(84, 0, 230);;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.flex{
    display: flex;

    align-items: center;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
    gap: 50px;
}

.about-text{
    font-size: 20px;
}

.flex1{
    display: flex;

    align-items: center;
    justify-content: center;
  
    gap: 20px;
}
.flex2{
    margin-top: 35px;
    display: flex;

    align-items: center;
    justify-content: center;
  
    gap: 20px;
}
 
 .contact{
    margin-top: 150px;
 }

 .contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    gap:50px
 }

 input{
     width: 500px;
     height: 50px;
     border-radius: 50px;
     padding:10px;
     border: 1px solid rgb(84, 0, 230);
 }
 textarea{
    width: 500px;
    height: 50px;
    border-radius: 50px;
    padding:50px;
    border: 1px solid rgb(84, 0, 230);
 }

 .footer{
    margin-top: 100px;
    background-color:rgb(84, 0, 230);
    text-align: center;
    color: white;
    padding:40px;

} ;
 